<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="d-flex justify-content-center">
        <img class="mb-4" src="../assets/logo/logo_temp.png" alt="" width="72" height="57">
    </div>
    <h1 class="h3 mb-3 fw-normal text-center pt-5">{{ 'Login.LOGIN_TITLE' | translate }}</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
      <label for="floatingInput">{{ 'Login.LABEL_EMAIL' | translate }}</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="{{ 'Login.LABEL_PASS' | translate }}" formControlName="password">
      <label for="floatingPassword">{{ 'Login.LABEL_PASS' | translate }}</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">{{ 'Login.LOGIN_BUTTON' | translate }}</button>
  </form>
  <button class="w-100 btn btn-lg btn-primary" type="UserTest" (click)="userTest()">User_Auth_test</button>
  <button class="w-100 btn btn-lg btn-primary" type="SATese" (click)="saTest()">SA_Auth_test</button>